@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
.max-width{
    max-width: 1280px;
    margin: 0 auto;
}

body{
    font-family: "Inter", sans-serif;

}
/* nav start */
header{
    padding: 10px 65px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}

.nav-text ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-text ul li{
    cursor: pointer;
}
/* nav end */
/* register-btn */
.register-btn{
    border: none;
    border-radius: 8px;
    background: #2563EB;
    color: white;
    cursor: pointer;
    justify-content: space-between;
    

}
/* nav-btn */
.nav-btn{
    padding: 12px 24px;
    font-size: 16px;
}
/* hero section */
.hero{
    background-image: url(./assets/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 80px;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;

}
.hero h1{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 20px;
    
}

.hero p{
    font-size: 18px;
    width: 650px;
    line-height: 32px;
    margin-bottom: 60px;
    
}
.hero-btn{

    padding: 15px 30px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 300px; 
    
    
    
}
/* speakers */
.speakers{
    padding: 80px 65px;

}
.speakers h2{
    text-align: center;
    margin-bottom: 50px;

    font-size: 48px;
}
.speakers-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}
.speakers-card{
    background: white;
    border-radius: 16px;
    padding: 0px 0px 20px ;
    border: 1px solid #E5E7EB;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);


}
.speakers-card img{
    width: 100%;
    border-radius: 16px 16px 0 0; 
    display: block;
    height: auto;


    
}
.speakers-card h3{
    font-size: 20px;
    padding-left: 15px;
    margin-top: 3px;


}
.speakers-topic{
    color: #2563EB;
    font-size: 12px;
    padding-left: 15px;
    font-weight: 600;


}
.speakers-position{
     font-size: 14px;
     color:#575757;
     padding-left: 15px;
     margin-top: 3px;
}

/* start card section */
.card-header{
    text-align: center;
    margin-bottom: 50px;
}

.card-header h2{
    font-size: 48px;
    margin-bottom: 10px;
}

.card-header p{
    font-size: 16px;
    color: #6b7280;
}
/* card */
.parent-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.card{
    width: 370.67px;
    padding: 32px;
    border-radius: 16px;
}

.card h4{
    font-size: 13px;
    font-weight: 600;
}

.card h2{
    font-size: 44px;
    margin: 10px 0;
}

.card p{
    font-size: 13px;
    margin-bottom: 20px;
}

.card hr{
    margin: 20px 0;
    border: none;
    border-top: 1px solid;
}

.card ul{
    padding-left: 20px;
    font-size: 14px;
}

.card li{
    margin-bottom: 12px;
}
/*  left card or text  ,shadow's work  */
.left-card{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}

.left-card h4{
    color: #888888;
}

.left-card h2{
    color: #0D1B2A;
}

.left-card p{
    color: #888888;
}

.left-card ul{
    color: #333333;
}

.left-card li::marker{
    color: #2563EB;
}
/* center card or text  ,shadow's work */

.center-card{
    background:#0D1B2A;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
}

.center-card h4{
    color: #60A5FA;
}

.center-card h2{
    color: #FFFFFF;
}

.center-card p{
    color: #FFFFFF;
}

.center-card ul{
    color: #FFFFFF;
}

.center-card li::marker{
    color: #2563EB;
}

.center-card hr{
    border-top: 1px solid #334155;
}
/* right card or text  ,shadow's work */
.right-card{
    background: #E5E7EB;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}

.right-card h4{
    color: #888888;
}

.right-card h2{
    color: #0D1B2A;
}

.right-card p{
    color: #888888;
}

.right-card ul{
    color: #333333;
}

.right-card li::marker{
    color: #2563EB;
}
/* btn */
.btn{
    width: 100%;
    height: 45px;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
/* left-btn's work */
.left-btn{
    background: #FFFFFF;
    color: #2563EB;
    border: 1px solid #2563EB;

}
/* right-btn's work */
.right-btn {
    background: #E5E7EB;
    color: #0D1B2A;
    border: 1px solid #0D1B2A;

}
/* center-btn's work */
.center-btn{
    background: #2563EB;
    color: #FFFFFF;
}
/* missing part css  */
.schedule-section{
    width: 1200px;
    margin: 100px auto;
}

.schedule-header{
    text-align: center;
    margin-bottom: 50px;
}

.schedule-header h2{
    font-size: 48px;
    color: #0D1B2A;
    margin-bottom: 10px;
}

.schedule-header p{
    font-size: 16px;
    color: #888888;
}

.schedule-card{
    display: flex;
    gap: 40px;
    padding: 35px;
    background: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0,0,0,.08);
}

.schedule-day{
    width: 180px;
}

.schedule-day h3{
    font-size: 28px;
    color: #0D1B2A;
    margin-bottom: 8px;
}

.schedule-day span{
    font-size: 14px;
    color: #2563EB;
    font-weight: 600;
}

.schedule-content{
    flex: 1;
}

.schedule-item{
    display: flex;
    gap: 35px;
    align-items: center;
    padding: 18px 0;
}

.schedule-time{
    width: 120px;
}

.schedule-time h4{
    font-size: 16px;
    color: #2563EB;
}

.schedule-info h4{
    font-size: 20px;
    color: #0D1B2A;
    margin-bottom: 6px;
}

.schedule-info p{
    font-size: 14px;
    color: #666666;
}

.schedule-content hr{
    border: none;
    border-top: 1px solid #E5E7EB;
}

@media (max-width:768px){

    .schedule-section{
        width: 100%;
        padding: 0 20px;
    }

    .schedule-card{
        flex-direction: column;
    }

    .schedule-item{
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .schedule-day{
        width: 100%;
    }

}
/* complite missing task */
/* footer css */
.footer{
    background:#0D1B2A;
    padding:35px 80px;
}

.footer-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.footer-bottom{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:20px;
    
}
.footer-bottom p{
    color: #FFFFFF;
    font-size: 13px;
}
.footer-link a{
    color: #FFFFFF;
    font-size: 13px;
    text-decoration: none;
}

.footer-icon{
    display:flex;
    gap:15px;
}

.footer-icon img{
    width: 28px;
    height:28px;
    cursor: pointer;
}

.footer-line{
    height:1px;
    background:#2A3B52;
    
}