/* nav start */
header{
    padding: 10px 65px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: auto;
}

.nav-text ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-text ul li{
    cursor: pointer;
}
/* nav end */

